<div class="container">
  <owl-carousel-o [options]="customOptions" class="carousel-team">
    <ng-template carouselSlide>
      <div class="fadeInUp service-col-animate" data-wow-duration="2s" data-wow-delay="0.2s">
        <div>
          <i class="fas fa-quote-right"></i>
          <p class="text m-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae</p>
          <p class="text m-0">  egestas mi, vel dapibus diam. Mauris malesuada, nisl non rutrum </p>
          <p class="text m-0"> commodo, sem magna laoreet tellus,eu euismod dolor enim et mi. In</p>
          <p class="text m-0 mb-4">   at tempor purus. </p>
          <img src="assets/images/ad-team1.jfif" style="width: 100px;margin: 0 auto; border-radius: 50%" alt="">
          <h4 class="user-name mt-4">Julia Miltese</h4>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="fadeInUp service-col-animate" data-wow-duration="2s" data-wow-delay="0.2s">
        <div>
          <i class="fas fa-quote-right"></i>
          <p class="text m-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae</p>
          <p class="text m-0">  egestas mi, vel dapibus diam. Mauris malesuada, nisl non rutrum </p>
          <p class="text m-0"> commodo, sem magna laoreet tellus,eu euismod dolor enim et mi. In</p>
          <p class="text m-0 mb-4">   at tempor purus. </p>
          <img src="assets/images/ad-team1.jfif" style="width: 100px; margin: 0 auto; border-radius: 50%" alt="">
          <h4 class="user-name mt-4">Sara Williams</h4>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>



