<div class="ad-agency-content">


  <div class="container-fluid header-top">
    <div class="row">
      <div class="col-6 wrapper">
        <a href="#" class="btn-setting link color-white mr-lg-4 d-none d-lg-inline-block btn-wts">
        <span>
        <i class="fab fa-whatsapp"></i>
        +1 631 112 1134
        </span>
        </a>
      </div>
      <div class="header-top-right">
        <div class="slider-icons">
          <ul class="slider-social banner-social d-flex">

            <li class="animated-wrap faceb-ic">
              <a class="animated-element" href="#"><i class="fab fa-facebook-f"></i></a>
            </li>

            <li class="animated-wrap square-element">
              <a class="animated-element" href="#"><i class="fab fa-twitter"></i></a>
            </li>

            <li class="animated-wrap square-element">
              <a class="animated-element" href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>

            <li class="animated-wrap square-element">
              <a class="animated-element" href="#"><i class="fab fa-instagram"></i></a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container header-menu">
    <div class="row">
      <div class="col-4">
        <div class="collapse navbar-collapse d-none d-lg-block">
          <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"> <a href="#" class="scroll nav-link link">home</a></li>
            <li class="nav-item"> <a href="#" class="scroll nav-link link">about</a></li>
            <li class="nav-item"> <a href="#" class="scroll nav-link link">work</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="logo-div">
          <img src="assets/images/logo-ad-agency.png">
        </div>
      </div>
      <div class="col-4">
        <div class="collapse navbar-collapse d-none d-lg-block">
          <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"> <a href="#" class="scroll nav-link link">pricing</a></li>
            <li class="nav-item"> <a href="#" class="scroll nav-link link">clients</a></li>
            <li class="nav-item"> <a href="#" class="scroll nav-link link">blog</a></li>
            <li class="nav-item"> <a href="#" class="scroll nav-link link">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
