

<div>
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <a class="logo-link" href="#">
      <img src="../../assets/images/logo-ad.png">
    </a>
    <ul class="wrap-ul">
      <li><a class="wrap-a" href="#">Home</a></li>
      <li><a class="wrap-a" href="#">About</a></li>
      <li><a class="wrap-a" href="#">Work</a></li>
      <li><a class="wrap-a" href="#">Pricing</a></li>
      <li><a class="wrap-a" href="#">Clients</a></li>
      <li><a class="wrap-a" href="#">Blog</a></li>
      <li><a class="wrap-a" href="#">Contact</a></li>
    </ul>

    <div class="">
      <ul class="">
        <li class="wrap-li-contact"><a href="#"><i class="fab fa-facebook-f color-white"></i> </a> </li>
        <li class="wrap-li-contact"><a href="#"><i class="fab fa-instagram color-white"></i> </a> </li>
        <li class="wrap-li-contact"><a href="#"><i class="fab fa-twitter color-white"></i> </a> </li>
      </ul>
      <p class="">© 2023 MegaOne. Made With Love by Themesindustry</p>
    </div>


  </div>
</div>
