<!--header!!!!!!!!-->
<section class="header">
  <div class="container-fluid container-header">
    <div class="row">
      <div class="col-6 header-left">
        <ul class="header-soc">
          <li class="header-soc-li">
            <i class="fa-brands fa-facebook-f"></i>
          </li>
          <li class="header-soc-li">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="header-soc-li">
            <i class="fa-brands fa-linkedin-in"></i>
          </li>
          <li class="header-soc-li">
            <i class="fa-brands fa-instagram"></i>
          </li>
        </ul>
      </div>
      <div class="col-6 header-right">
        <div>
          <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-head">
            <i class="fab fa-whatsapp"></i>
            +1 631 112 1134
          </a>
        </div>
      </div>
    </div>
    <div class="head-content" id="head-cont">
      <div class="logo-div">
        <img src="assets/images/logo-ad-agency.svg">
      </div>
      <div class="text-carousel">
        <span class="text-carousel-span">Modern Works</span>
      </div>
      <div class="head-cont-text">
        <p>
          Lorem ipsum is simply dummy text of the printing and typesetting.
          Lorem Ipsum has been the industry’s standard dummy.
        </p>
      </div>
      <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-learn">Learn More</a>
    </div>


    <div [scrollTop]="Scroll()" id="myHeader" class="div main-menu d-none d-lg-block">
      <div class="hidden-logo" id="hidden-logo">
        <img src="assets/images/megaone.png" width="140" height="29">
      </div>
      <ul class="main-menu-ul mx-auto">
        <li class="menu-li">
          <a href="#" class="menu-a">home</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">about</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">work</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">pricing</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">clients</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">blog</a>
        </li>
        <li class="menu-li">
          <a href="#" class="menu-a">contact</a>
        </li>
      </ul>
      <div class="hidden-btn" id="hidden-btn">
        <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-head">
          <i class="fab fa-whatsapp"></i>
          +1 631 112 1134
        </a>
      </div>
    </div>
  </div>
</section>
<div class="banner-bg"></div>



<!--Responsive Menu!!!!!!!!!-->
<div class="resp-main-div">
  <input type="checkbox" id="active">
  <label (click)="RespMenu()" for="active" class="menu-btn" id="menuBtn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper d-none" id="wrap">
    <img class="resp-logo" src="assets/images/megaone.png" width="140" height="30">
    <ul class="resp-menu-ul">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>

    <ul class="social-icons-simple">
      <li class="side-menu-icons"><a href="#"><i class="fab fa-facebook-f color-white"></i> </a></li>
      <li class="side-menu-icons"><a href="#"><i class="fab fa-instagram color-white"></i> </a></li>
      <li class="side-menu-icons"><a href="#"><i class="fab fa-twitter color-white"></i> </a></li>
      <p class="text-white respons-p">© 2023 MegaOne. Made With Love by Themesindustry</p>
    </ul>
  </div>
</div>


<!--About Main!!!!!!!!!!!!!!!-->
<section class="about-main bg-dark">
  <div class="container about">
    <div class="about-row">
      <div class="about-left col-lg-6 mb-lg-0">
        <div class="rare-box"></div>
        <div class="about-img">
          <img src="../../assets/images/ad-about-1.jpg">
        </div>
      </div>
      <div class="about-right col-lg-6">
        <div class="about-main-text">
          <h5 class="about-text-h5 ad-h5"> Lorem ipsum dolor sit amet consectetur</h5>
          <h2 class="about-text-h2 ad-h2">
            We are making
            <span class="color-pink">design</span>
            better for everyone
          </h2>
          <p class="about-text-p ad-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue diam,
            accumsan vitae justo non, euismod aliquam lectus.
            Etiam elementum tortor quis risus posuere, in cursus arcu lobortis.
          </p>
          <ul class="about-text-ul ad-ul">
            <li class="about-text-li ad-li">
              <i class="fa-solid fa-arrow-right arrow-right-about"></i>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li class="about-text-li ad-li">
              <i class="fa-solid fa-arrow-right arrow-right-about"></i>
              Morbi ornare nibh id cursus vestibulum.
            </li>
            <li class="about-text-li ad-li">
              <i class="fa-solid fa-arrow-right arrow-right-about"></i>
              Duis vitae lectus facilisis, tristique lorem sit amet, malesuada diam.
            </li>
          </ul>
          <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-learn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>






<!--Our Works!!!!!!!!!!!!!!-->
<section class="our-works bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our-text-main">
          <h2 class="our-text-main-h2">
            We’re
            <span class="color-pink">Creative</span>
            Branding
            <br>
            and Corporate Identity
            <span class="color-blue">Agency</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="about-box mb-5 mb-lg-0 mx-auto bg-blue">
          <span class="pro-step d-inline-block color-white"><i class="fa fa-pencil-alt our-i"></i></span>
          <h5 class="font-weight-500 color-white mt-25px mb-15px text-capitalize our-h5">branding design</h5>
          <p class="font-weight-light color-white">Lorem dapibus, tortor eget turpis auctor, convallis odio ac.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="about-box mb-5 mb-lg-0 mx-auto bg-yellow">
          <span class="pro-step d-inline-block color-white"><i class="fa fa-cog our-i"></i></span>
          <h5 class="font-weight-500 color-white mt-25px mb-15px our-h5">SEO Marketing</h5>
          <p class="font-weight-light color-white">Etiam luctus, lacus maximus elementum dapibus felis.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-box mb-0 mx-auto bg-pink">
          <span class="pro-step d-inline-block color-white"><i class="fa fa-code our-i"></i></span>
          <h5 class="font-weight-500 color-white mt-25px mb-15px text-capitalize our-h5">web development</h5>
          <p class="font-weight-light color-white">Pellentesque habitant morbi tristique senectus et malesuada.</p>
        </div>
      </div>
    </div>
  </div>
</section>






<!--Team!!!!!!!!!!!!!!!-->
<section class="team bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our-text-main">
          <h5 class="color-white our-h5">Lorem ipsum dolor sit amet</h5>
          <h2 class="our-text-main-h2">
            Our
            <span class="color-pink">Creative</span>
            Team
          </h2>
        </div>
      </div>
    </div>
    <div class="row team-div">
      <div class="col-xl-3 col-lg-6  p-0 main-team-div">
        <div class="team-col">
        <div class="team-image">
          <img class="team-img1 team-img" src="assets/images/ad-team1.jfif">
        </div>
        <div class="team-classic-text hvr-team pink">
          <h3 class="mb-3 text-capitalize color-black">Jessica Jones</h3>
          <h5 class="mb-3 text-capitalize color-pink">Lead Designer</h5>
          <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
          <ul class="team-social">
            <li class="d-inline-block">
              <a href="#" class="facebook-bg-hvr">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="#" class="twitter-bg-hvr">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="#" class="google-bg-hvr">
                <i class="fab fa-google" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6  p-0 main-team-div">
        <div class="team-col2">
        <div class="team-classic-text2 hvr-team blue">
          <h3 class="mb-3 text-capitalize color-black">Rob Clark</h3>
          <h5 class="mb-3 text-capitalize color-pink">marketing head</h5>
          <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
          <ul class="team-social">
            <li class="d-inline-block">
              <a href="#" class="facebook-bg-hvr">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="#" class="twitter-bg-hvr">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="d-inline-block">
              <a href="#" class="google-bg-hvr">
                <i class="fab fa-google" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-image">
          <img class="team-img2 team-img" src="assets/images/ad-team2.jfif">
        </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6  p-0 main-team-div">
        <div class="team-col">
          <div class="team-image">
            <img class="team-img3 team-img" src="assets/images/ad-team3.jfif">
          </div>
          <div class="team-classic-text3 hvr-team yellow">
            <h3 class="mb-3 text-capitalize color-black">Nicole Cross</h3>
            <h5 class="mb-3 text-capitalize color-pink">Visualizer</h5>
            <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
            <ul class="team-social">
              <li class="d-inline-block">
                <a href="#" class="facebook-bg-hvr">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
              </li>
              <li class="d-inline-block">
                <a href="#" class="twitter-bg-hvr">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="d-inline-block">
                <a href="#" class="google-bg-hvr">
                  <i class="fab fa-google" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6  p-0 main-team-div">
        <div class="team-col2">
          <div class="team-classic-text hvr-team">
            <h3 class="mb-3 text-capitalize color-black">Albert Rodricks</h3>
            <h5 class="mb-3 text-capitalize color-pink">Creative Lead</h5>
            <p class="mt-3 mb-3 color-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit augue.</p>
            <ul class="team-social">
              <li class="d-inline-block">
                <a href="#" class="facebook-bg-hvr">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
              </li>
              <li class="d-inline-block">
                <a href="#" class="twitter-bg-hvr">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="d-inline-block">
                <a href="#" class="google-bg-hvr">
                  <i class="fab fa-google" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="team-image">
            <img class="team-img4 team-img" src="assets/images/ad-team4.jfif">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>








<!--Info!!!!!!!!!!!!-->
<section class="info-section">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-md-12">
        <div class="quote-text text-center">
          <div class="quote d-flex justify-content-start mb-2rem"><i class="fa fa-quote-left quote color-white"></i></div>
          <h2 class="font-weight-light mb-5 line-height-normal color-white info-h2">
            <span class="color-yellow">Creativity</span>
            is allowing yourself to make mistakes<br> Art is knowing which ones to keep.
          </h2>
          <h3 class="color-pink">Alice Johnson</h3>
          <div class="quote d-flex justify-content-end mb-3"><i class="fa fa-quote-right quote color-white"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>








<!--Portfolio!!!!!!!!!!!!!!!!!-->
<div class="portfolio bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our-text-main">
          <h5 class="color-white our-h5">Lorem ipsum dolor sit amet</h5>
          <h2 class="our-text-main-h2">
            Creative
            <span class="color-pink">Portfolio</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!--Portfolio 2!!!!!!!!!!!!!!!!!!!-->
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button (click)="Portfolio1()" class="nav-link active portfolio-btn" id="pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All
        <i class="fa-solid fa-triangle portfolio-icon"></i>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="Portfolio2()" class="nav-link portfolio-btn" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">Graphic Designs
        <i class="fa-solid fa-triangle portfolio-icon"></i>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="Portfolio3()" class="nav-link portfolio-btn" id="pills-contact-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
              aria-selected="false">Web Designs
        <i class="fa-solid fa-triangle portfolio-icon"></i>
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button (click)="Portfolio4()" class="nav-link portfolio-btn" id="pills-contact2-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2"
              aria-selected="false">SEO
        <i class="fa-solid fa-triangle portfolio-icon"></i>
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button (click)="Portfolio5()" class="nav-link portfolio-btn" id="pills-contact3-tab" data-bs-toggle="pill"
              data-bs-target="#pills-contact3" type="button" role="tab" aria-controls="pills-contact3"
              aria-selected="false">Marketing
        <i class="fa-solid fa-triangle portfolio-icon"></i>
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade  d-flex justify-content-between show active" id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="portfolio-hover position-relative">
              <img class="big-img-portfolio" src="assets/images/portfolio1.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                <p>Elegant | Images</p>
                <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
            <div class="port-1">
              <div class="portfolio-hover position-relative port1div">
                <img src="assets/images/portfolio2.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
              <div class="position-relative portfolio-hover port1div">
                <img src="assets/images/portfolio3.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="port-1">
              <div class="portfolio-hover position-relative port1div">
                <img src="assets/images/portfolio4.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
              <div class="position-relative portfolio-hover port1div">
                <img src="assets/images/portfolio6.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-hover position-relative">
              <img class="big-img-portfolio" src="assets/images/portfolio5.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade d-flex justify-content-between d-none" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab">
      <div class="port-1">
        <div class="position-relative portfolio-hover port1div">
          <img src="assets/images/portfolio4.jpg">
          <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
            <div class="work-text">
              <p>Elegant | Images</p>
              <h2>We are digital agency</h2>
            </div>
          </div>
        </div>
        <div class="position-relative portfolio-hover port1div">
          <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
            <div class="work-text">
              <p>Elegant | Images</p>
              <h2>We are digital agency</h2>
            </div>
          </div>
          <img src="assets/images/portfolio6.jpg">
        </div>
      </div>
    </div>

    <div class="tab-pane fade d-flex justify-content-between d-none" id="pills-contact" role="tabpanel"
         aria-labelledby="pills-contact-tab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="position-relative portfolio-hover">
              <img class="big-img-portfolio" src="assets/images/portfolio1.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="port-1">
              <div class="position-relative portfolio-hover port1div">
                <img src="assets/images/portfolio6.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
              <div class="position-relative portfolio-hover port1div">
                <img src="assets/images/portfolio2.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>



              <div class="port-1-img position-relative portfolio-hover port1div">
                <img src="assets/images/portfolio3.jpg">
                <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                  <div class="work-text">
                    <p>Elegant | Images</p>
                    <h2>We are digital agency</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade d-flex justify-content-between d-none" id="pills-contact2" role="tabpanel"
         aria-labelledby="pills-contact2-tab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 seo-col-port">
            <div class="port-1-img position-relative portfolio-hover port1div">
              <img src="assets/images/portfolio4.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative portfolio-hover port1div">
              <img class="big-img-portfolio" src="assets/images/portfolio5.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 seo-col-port">
            <div class="port-1-img position-relative portfolio-hover port1div">
              <img src="assets/images/portfolio2.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade d-flex justify-content-between d-none" id="pills-contact3" role="tabpanel"
         aria-labelledby="pills-contact3-tab">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="portfolio-hover position-relative">
              <img class="big-img-portfolio" src="assets/images/portfolio1.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="portfolio-hover position-relative">
              <img class="big-img-portfolio" src="assets/images/portfolio5.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="port-2">
            <div class="port-1-img position-relative portfolio-hover port1div port2div">
              <img src="assets/images/portfolio3.jpg">
              <div class="hover-item">
                <span class="work-icon">
                  <i class="fa fa-arrow-right"></i>
                </span>
                <div class="work-text">
                  <p>Elegant | Images</p>
                  <h2>We are digital agency</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Price!!!!!!!!!!!!!!!!-->
<section class="pricing-list bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our-text-main">
          <h5 class="color-white our-h5">Lorem ipsum dolor sit amet</h5>
          <h2 class="our-text-main-h2">
            Flexible
            <span class="color-pink">Pricing</span>
            Packages
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 text-center mar-top">
        <div class="price-item hov-blue-bg">
          <div class="price-box">
            <div class="price-title">
              <h4 class="text-capitalize price-title-h4">Basic</h4>
            </div>
          </div>
          <div class="price">
            <h2 class="position-relative">
              <span class="dollar">$</span>
              19
              <span class="month">/ month</span>
            </h2>
          </div>
          <div class="price-description">
            <p>Full Access</p>
            <p>Unlimited Bandwidth</p>
            <p>Email Accounts</p>
            <p>8 Free Forks Every Months</p>
          </div>
          <div class="text-center">
            <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-price">Learn More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 text-center">
        <div class="price-item price-item2 hov-yellow-bg">
          <div class="quarter-triangle"></div>
          <div class="triangle-inner-content">
            <i class="fa fa-star price-star"></i>
            <span> SPECIAL </span>
          </div>
          <div class="price-box">
            <div class="price-title">
              <h4 class="text-capitalize price-title-h4 p-t-h4-2">Standard</h4>
              <p class="price-sub-heading text-capitalize">the most popular</p>
            </div>
          </div>
          <div class="price">
            <h2 class="position-relative">
              <span class="dollar">$</span>
              29
              <span class="month">/ month</span>
            </h2>
          </div>
          <div class="price-description">
            <p>Full Access</p>
            <p>Unlimited Bandwidth</p>
            <p>Email Accounts</p>
            <p>8 Free Forks Every Months</p>
          </div>
          <div class="text-center">
            <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-price2">Learn More</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-12 text-center mar-top">
        <div class="price-item price-item3 hov-pink-bg">
          <div class="price-box">
            <div class="price-title">
              <h4 class="text-capitalize price-title-h4">Advance</h4>
            </div>
          </div>
          <div class="price">
            <h2 class="position-relative">
              <span class="dollar">$</span>
              49
              <span class="month">/ month</span>
            </h2>
          </div>
          <div class="price-description">
            <p>Full Access</p>
            <p>Unlimited Bandwidth</p>
            <p>Email Accounts</p>
            <p>8 Free Forks Every Months</p>
          </div>
          <div class="text-center">
            <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-price3">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<!--My Clients!!!!!!!!!-->
<section class="bg-white p-0 cursor-light clients-section">
  <div class="clients-abs">
    <div (click)="carClick1()" class="client1 our-client">
      <img src="assets/images/ad-client1.jfif">
    </div>

    <div (click)="carClick2()" class="client2 our-client">
      <img src="assets/images/ad-client2.png">
    </div>

    <div (click)="carClick3()" class="client3 our-client">
      <img src="assets/images/ad-client3.png">
    </div>

    <div (click)="carClick4()" class="client4 our-client">
      <img src="assets/images/ad-client4.jfif">
    </div>

    <div (click)="carClick5()" class="client5 our-client">
      <img src="assets/images/ad-client5.png">
    </div>

    <div (click)="carClick6()" class="client6 our-client">
      <img src="assets/images/ad-client6.png">
    </div>

    <div (click)="carClick7()" class="client7 our-client">
      <img src="assets/images/ad-client7.png">
    </div>

    <div (click)="carClick8()" class="client8 our-client">
      <img src="assets/images/ad-client8.png">
    </div>
  </div>
  <div class="section-padding clients-div">
    <div class="our-text-main our-text1">
      <h5 class="color-white our-h5">Lorem ipsum dolor sit amet</h5>
      <h2 class="our-text-main-h2">
        Valuable
        <span class="color-pink">Clients</span>
      </h2>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div id="CI1" class="carousel-item active">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client1.jfif" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Johny Perkins</h5>
              <p class="color-white">Athlete</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI2" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client2.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Kate Carter</h5>
              <p class="color-white">Model</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI3" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client3.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Alex Curtis</h5>
              <p class="color-white">Manager</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI4" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client4.jfif" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Ashley Wilson</h5>
              <p class="color-white">Actor</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI5" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client5.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Chris Gorgano</h5>
              <p class="color-white">Photographer</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI6" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client6.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Sarah Jones</h5>
              <p class="color-white">Sales Executive</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI7" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client7.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">David Walker</h5>
              <p class="color-white"> Chairman, AcroEx </p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div id="CI8" class="carousel-item">
          <p class="color-white testimonial-para mb-15px">
            Curabitur mollis bibendum luctus.
            Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend,
            in maximus metus sollicitudin. Quisque vitae sodales lectus.
            Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
          </p>
          <div class="d-flex carousel-clients">
            <div class="carousel-client">
              <img src="assets/images/ad-client8.png" class="d-block" alt="...">
            </div>
            <div>
              <h5 class="color-white text-capitalize carousel-client-h5">Christina Williams</h5>
              <p class="color-white">HR Manager</p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>




<!--Our Blog-->
<section class="our-blog p-0 bg-change bg-pink">
  <div class="container-fluid">
    <div class="row align-items-center our-blog-row">
      <div class="col-lg-6 col-md-12">
        <div class="blog-hover">
          <img class="blog-img" alt="blog" src="assets/images/ad-blog.jfif">
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="text-center split-container">
          <div class="blog-title mb-5">
            <h5 class="font-18 color-white">Oct 12, 2019</h5>
            <h2 class="mb-0 font-weight-normal blog-h2">Agency BLog</h2>
          </div>
          <p class="color-black mb-5 blog-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmodt temp to the incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis a nostr a exercitation ullamco laboris nisi ut aliquip.</p>
          <a href="#" class="btn-setting link color-white mr-lg-4 d-lg-inline-block btn-main btn-price">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>




<!--Map Section!!!!!!!!!!-->
<section class="contact">
  <div class="container">
    <div class="row mx-lg-0">
      <div class="col-lg-6 col-md-6 col-sm-12 p-0">
        <div class="contact-div">
          <div class="contact-text">
            <h2 class="font-weight-normal">Connect With Us </h2>
          </div>
          <div class="text-center text-md-left">
            <p class="mb-3">123 Street New York City , United States Of America. </p>
            <p class="mb-3">Office Telephone : 001 01085379709<br>Mobile : 001 63165370895 </p>
            <p class="mb-3">
              Email:
              <a href="#" class="color-white">admin@website.com</a>
              <br>
              Inquiries:
              <a href="#" class="color-white">email@website.com</a>
            </p>
            <p class="mb-0">Mon-Sat: 9am to 6pm</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 p-0 map-col box-shadow-map">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe id="gmap_canvas"
                    src="https://maps.google.com/maps?q=&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://123movies-a.com"></a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--Footer!!!!!!!!!!!!!!!-->
<footer class="ad-footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <ul class="footer-social mb-4">
          <li>
            <a href="#" class="facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#" class="twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" class="google">
              <i class="fab fa-google"></i>
            </a>
          </li>
          <li>
            <a href="#" class="wow fadeInDown linkedin">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="#" class="instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#" class="pinterest">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
        <p class="ad-footer-p mt-2 mb-2">
          © 2023 MegaOne. Made with love by
          <a href="#">themes industry</a>
        </p>
      </div>
    </div>
  </div>
</footer>
