.wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #F1C30F;
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  position: absolute;
  z-index: 2;
  right: 50%;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 64px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}
.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}
#active:checked + .menu-btn span {
  transform: scaleX(0);
}

#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper .wrap-ul {
  position: absolute;
  top: 80%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  display: flex;
}
.wrapper ul li {
  height: 10%;
  margin: 15px 0;
  width: 150px;
}
.wrapper ul li .wrap-a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat',sans-serif;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li .wrap-a:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li .wrap-a:hover {
  color: #6235D2;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}
#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1); /* easeOutBackを緩めた感じ */
  transition-delay: .6s;
  transform: translateX(-100px);
}
.logo-link{
  position: absolute;
  top: 150px;
  left: 41.0%;
}
.wrap-li-contact{
  list-style: none;
}
.wrap-li-contact a{
  color: white;
}
@media (max-width: 1400px) {
  .logo-link{
    left: 37.5%;
  }
}
@media (max-width: 1200px) {
  .wrapper ul{
    left: 44%;
    display: block;
  }
}
@media (max-width: 991px) {
  .logo-link{
    left: 33%;
  }
}
@media (max-width: 767px) {
  .menu-btn {
    right: 1.5%;
  }
  .logo-link{
    left: 29%;
  }
}
@media (max-width: 520px) {
  .logo-link{
    left: 22%;
  }
}







